:root {
    --black: #09090b;
    --hsl-black: 240, 10%, 4%;

    --white: #f0edec;
    --hsl-white: 15, 12%, 93%;
    --white-60: rgba(240, 237, 236, 0.6);
    --white-40: rgba(240, 237, 236, 0.4);
    --white-07: rgba(240, 237, 236, 0.07);
    --white-04: rgba(240, 237, 236, 0.04);

    --radius: 4px;

    --montech: 'Montech', 'monospace';
    --poppins: 'Poppins', 'sans-serif';

    --cont: min(1080px, 85%);
    --cont-sm: min(540px, 85%);
}
